# set variable values

aws_region = "us-east-1"
key_pair = "YOUR_KEY_PAIR"
instance_type = "t3.micro"
db_instance_type = "t3.micro"
num_nodes = 1
db_user = "root"
db_pass = "SuperSecret1"
mysql_dbname = "sedemovaultdb"
postgres_dbname = "tokenizationdb"
kms_key_id = "YOUR_KMS_KEY_ID"
vault_dl_url = "https://releases.hashicorp.com/vault/1.7.3/vault_1.7.3_linux_amd64.zip"
vault_license = ""
consul_tpl_url = "https://releases.hashicorp.com/consul-template/0.26.0/consul-template_0.26.0_linux_amd64.zip"
autojoin_key = "vault_server_cluster"
autojoin_value = "vault_raft"
auto_unseal = "on"
prefix = "mycoolprefix"
git_branch = "master"
owner = "email@example.com"
se-region = "YOUR-HASHICORP-REGION"
purpose = "Demonstrate basic Vault functions"
ttl = "24"
terraform = "true"
