# set variable values

aws_access_key = "YOUR_AWS_ACCESS_KEY"
aws_secret_key = "YOUR_AWS_SECRET_KEY"
aws_region = "us-east-1"
key_pair = "YOUR_KEY_PAIR"
instance_type = "t3.micro"
mysql_user = "root"
mysql_pass = "SuperSecret1"
mysql_dbname = "sedemovaultdb"
kms_key_id = "YOUR_KMS_KEY_ID"
vault_dl_url = "https://releases.hashicorp.com/vault/1.3.2/vault_1.3.2_linux_amd64.zip"
vault_license = ""
consul_tpl_url = "https://releases.hashicorp.com/consul-template/0.24.1/consul-template_0.24.1_linux_arm64.zip"
prefix = "mycoolprefix"
git_branch = "master"
